doctype html
html
  head
    title Samyak Dance Academy 
    style
      include ../static/style.css
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/img/11.png")
                | SDA 
            li #[a(href="/") Home]  
            li #[a(href="/") About]  
            li #[a(href="/") Services]  
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us]  
    section#introSection
        div Welcome to Samyak's Dance Academy 
        div.small Live Learn Dance Repeat 
    section#missionSection
        h2 Our Mission
        div.card
            h3 Dance Perfection  
            div.card-box 
                div.card-img
                    img(src="/static/img/2.jpg")
                div.card-content 
                    p This is the best dance academy of the country  
        div.card
            h3 Dance the way you Like 
            div.card-box
                div.card-img
                    img(src="/static/img/4.jpg")
                div.card-content 
                    p This is the best dance academy of the country
        div.card
            h3 Expert Teaching  
            div.card-box
                div.card-img
                    img(src="/static/img/5.jpg")
                div.card-content 
                    p This is the best dance academy of the country
            
    section#sponsorSection
        h2 Our sponsors 
        div#sponsors 
            img(src="/static/img/logo4.png" alt="Sponsor Image", class="spImage")
            img(src="/static/img/logo5.png" alt="Sponsor Image", class="spImage")
            img(src="/static/img/logo6.png" alt="Sponsor Image", class="spImage")
            img(src="/static/img/logo7.png" alt="Sponsor Image", class="spImage")
    footer#footer 
        |  Copyright 2023 SamyakDanceAcademy.com | All Rights Reserved 
    script
      include ../static/index.js